[Unit]
Description=waynederryhasnoteeth.co.uk
After=network.target

[Service]
Type=simple
User=dezza
Group=dezza
WorkingDirectory=/opt/wayne-derry-has-no-teeth/wayne-dezza
ExecStart=/bin/bash -c "source /home/dezza/.nvm/nvm.sh && npm install && npm run build && npm start"
Restart=always
RestartSec=5
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
